<?xml version="1.1"?> 
<robot name="goal1">
    <!-- Colors --> 
    <material name="green">
        <color rgba="0 0.925 0 1"/>
    </material>

    <!-- Goal -->
    <link name="base_link">
        <visual>
            <geometry>
                <sphere radius="0.05"/>
                <origin rpy="0 0 0" xyz="0 0 0.5"/>
            </geometry>
            <material name="green"/>
        </visual>
	<inertial>
    		<origin xyz="0 0 0" rpy="0 0 0" />
    		<mass value="0"/>
    		<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
  	</inertial> -->

    </link>
</robot>
